@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic&display=swap');
body {
    background-color: #40FFB6;
    font-family: 'Noto Naskh Arabic', serif;
}

.selected-hadith p {
    text-align: justify;
    font-size: 1.25rem;
    line-height: 1.8;
}

a.navbar-brand, a.nav-link {
    color: black;
}
